@import "tailwindcss";

@font-face {
  font-family: b-yekan;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("./assets/fonts/BYekan+.ttf") format("woff2");
}

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-b-yekan: "BYekan", b-yekan;
}

@theme {
  --breakpoint-xs: 420px;
}